main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__inner h1{
	margin-bottom: 15px;
	text-align: center;
}

.main__inner p {
	margin-bottom: 15px;
	text-align: center;
	font-size: 20px;
}

.main__inner a {
	display: block;
	margin-inline: auto;
	font-size: 16px;
	padding: 7px 25px;
	background-color: black;
	color: white;
	border-radius: 15px;
	width: max-content;
}